<% include partials/header %>
<%- include("./partials/navbar") %>
<div class="container mt-5">
    <h3 class="my-3">Compose Your Blog Here... 😍 </h3>
    <form class="column-form" action="/edit/<%= blog._id %>" method="POST" enctype="multipart/form-data">
    
            <picture>
                <img src="/uploads/<%=blog.image %>" alt="yyy" width="200"/> 
             </picture>

        <p>
            <label for="filePicker">File attachment:
             <span class="required">*</span>
             </label>
            <span>
                <input id="filePicker" type="file" name="image" class="form-control" data-widget="fileinput" data-translation-browse="Find a file" data-translation-remove="Ditch it" />
            </span>
            <span class="item-note">Upload size limit (xxxx MB)</span>
        </p>
        
        <p>
            <label class="column-field-label">Name your blog post
                <span class="required">*</span>
            </label>
            <span>
                
                <input type="text" value="<%= blog.title %>" name="title" placeholder="Enter Title" class="form-control" required>
            </span>
        </p>
        
        <p>
            <label class="column-field-label">Write your blog post here...
                <span class="required">*</span>
            </label>
            <span>
                <textarea name="content" cols="30" rows="10"  placeholder="Enter Content Here..."
                required><%= blog.content %></textarea>
            </span>
        </p>    
        
        <p class="btn-row">
            <button type="submit" value="Save Changes" class="btn btn-primary">Save Changes</button>
            <a href="/" class="btn btn-warning" >Cancel</a>
        </p>
    </form>
</div>
<% include partials/footer %>